doctype html
html
  head
    title Play OAuth 2.0
  body
    h1 Let's play with OAuth 2.0
    a(href=googleSheet.url) #{googleSheet.message}
    br
    br
    a(href=salesforceProd.url) #{salesforceProd.message}
    br
    br
    a(href=salesforceSandbox.url) #{salesforceSandbox.message}
    br
    br    
